{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <!-- CSS 1 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- akhir dari CSS 1 -->

    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>

<body>
    <img id="banner" src="{% static 'about/img/about.jpg' %}" alt="">

    <!-- <h1>Halaman About</h1> -->
    <div id='menu'>

        <!-- menu -->
        <ul>
            <li><a href="/" class="">Home</a></li>
            <li><a href="/about" class="">About</a></li>
            <li><a href="/buku/" class="">Buku</a></li>
            <li><a href="/tamu/" class="">Buku Tamu</a></li>

        <ul>

    </div>

    <div class="container">
        <p></p>
        <!--https://getbootstrap.com/docs/4.5/components/alerts/-->
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">About Django</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga quis consequuntur adipisci dolorum quam
                vero, eveniet vitae ipsa magnam natus libero, aperiam est quidem officia nesciunt earum eos, dignissimos
                dolorem.</p>
            <hr>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequatur a, minima
                fugiat praesentium itaque illum porro blanditiis saepe tempore soluta officia. Labore iste qui possimus
                at id ea. Vitae?</p>
        </div>
    </div>





    
    <!-- CSS BOOTSSTRAP -->

    <!-- JS BOOTSTRAP -->
    <script src="{& static 'vendor/bootstrap/bootstrap.js %}" type="text/javascripts"></script>
    <script src="{& static 'vendor/bootstrap/jquery-3.3.1.slim.min.js' %}" type="text/javascripts"></script>
    <script src="{& static 'vendor/bootstrap/popper.js %}" type="text/javascripts"></script>

</body>

</html>